@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 188 78% 92%;
    --foreground: 224 71% 4%;
    /* باقي المتغيرات هنا ... */
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    /* باقي المتغيرات هنا ... */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* انتهى globals.css */
